# Creacion de un DataFrame de cero

Muchas veces nos vamos a ver en la necesidad de ir armando nuestros dataframes a veces de cero e ir llenandolos, y a veces partiendo de listas, diccionarios o estructuras similares, empecemos a ver algunos casos.

### Creacion de un dataFrame a partir de una lista de listas

Supongamos que partimos a partir de esta lista de datos:

In [1]:
data = [["ALUA", 19.15], ["BBAR", 73.70], ["BMA", 144.4], ["BYMA", 234]]

Y ahora quiero armar un dataFrame en la variable "tabla" con esta estructura que tiene tickers y sus precios.

Bien, es tan sencillo como esto:

1. Asignamos a la variable "tabla" el objeto pandas.DataFrame
2. Pasamos como primer argumento del DataFrame los datos (variable "data")
3. Le indicamos en el primer argumento "columns" los nombres de las columnas

In [2]:
import pandas as pd
data = [["ALUA", 19.15], ["BBAR", 73.70], ["BMA", 144.4], ["BYMA", 234]]
tabla=pd.DataFrame(data, columns=["Ticker", "Precio"])
tabla

  Ticker  Precio
0   ALUA   19.15
1   BBAR   73.70
2    BMA  144.40
3   BYMA  234.00

Tambien podemos crear el dataFrame de forma muy sencilla a partir de un diccionario. En este caso ni siquiera hace falta que le pasemos los nombres de las columnas ya que los toma del mismo diccionario

### Creacion de DataFrames a partir de Diccionarios

In [3]:
import pandas as pd
data = {'Tickers': ['ALUA', 'BBAR', 'BMA', 'BYMA'], 'Precios': [19.15, 73.70, 144.40, 234.00]}
tabla=pd.DataFrame(data)
tabla

  Tickers  Precios
0    ALUA    19.15
1    BBAR    73.70
2     BMA   144.40
3    BYMA   234.00

Asimismo, le podemos pasar un indice personalizado (una lista de elementos que tenga la misma cantidad de elementos que "data")

In [4]:
data = {'Tickers': ['ALUA', 'BBAR', 'BMA', 'BYMA'], 'Precios': [19.15, 73.70, 144.40, 234.00]}
tabla = pd.DataFrame(data, index=["activo_1", "activo_2", "activo_3", "activo_4"])
tabla

         Tickers  Precios
activo_1    ALUA    19.15
activo_2    BBAR    73.70
activo_3     BMA   144.40
activo_4    BYMA   234.00